@media print {
  body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .terminal {
    padding: 0;
    max-width: 100%;
  }

  pre {
    font-size: 11pt;
    line-height: 1.4;
  }
}


